[submodule "vendor/semirings-modules"]
	path = vendor/semirings-modules
	url = https://github.com/robrix/semirings-modules.git
[submodule "vendor/semilattices"]
	path = vendor/semilattices
	url = https://github.com/robrix/semilattices.git
[submodule "vendor/higher-order-effects"]
	path = vendor/higher-order-effects
	url = https://github.com/robrix/higher-order-effects.git
